body {
    margin: 100px;
    font-family: "Arial";
}

h1 { color: #444; }

a {
    color: rgb(78, 167, 249);
}

article {
    border: 1px solid #aaa;
    padding: 20px;
    margin: 20px 0;
}

button {
    padding: 10px 30px;
    border: 1px solid #aaa;
    background: #fff;
    outline:none;
    border-radius: 3px;
}